header{
background-color: rgb(241, 216, 193);
color:rgb(226, 72, 0);
text-align: center;
padding: 10px;
margin:0 auto;
}

article{
    width: 300px;
    margin: 10px;
}

main{
background: rgb(241, 216, 193);
color:rgb(226, 72, 0);
display: flex; 
flex-wrap: wrap;
gap: 20%;
justify-content: center;
}